<div class="container">
    <h1>Servicios Disponibles</h1>
    <div class="servicios">
        <div class="servicio">
            <h2>Seguros</h2>
            <app-seguros (servicioChange)="onServicioChange($event)"></app-seguros>
            <button (click)="goToSeguros()">Ir a Seguros</button>
        </div>
        
        <div class="servicio">
            <h2>Telefonía</h2>
            <app-telefonia (servicioChange)="onServicioChange($event)"></app-telefonia>
            <button (click)="goToTelefonia()">Ir a Telefonía</button>
        </div>
        
        <div class="servicio">
            <h2>Viajes</h2>
            <app-viajes (servicioChange)="onServicioChange($event)"></app-viajes>
            <button (click)="goToViajes()">Ir a Viajes</button>
        </div>
        </div>
        
        <div class="productos">
        <h2>Productos</h2>
        <p>Pero si prefieres ver nuestros productos entra aquí:</p>
        <button (click)="goToProductos()">Ir a Productos</button>
        </div>
    </div>
    