.container {
    padding: 20px;
    background-color: #ece7e7;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-toolbar {
    background-color: #ffffff;
}

mat-card {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-title {
    font-weight: 700;
    font-size: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ece7e7;
    align-items: center;
}

button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-unthemed.mat-mdc-button-base{
    padding: 6px 12px;
    background: #FF5A70;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 192px;
    height: 58px;
    border-radius: 5px;
    font-family: 'Aileron', sans-serif ;
    font-size: 18px;
    align-items: center;
}
button :hover {
    background-color: #555;
}
